<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Trang danh sách</title>
</head>
<body>
    <h1>BOOK STORE</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>Tên sách</th>
        <th>Tên tác giả</th>
        <th>Giá</th>
    </tr>
    <tr>
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.author}"></td>
        <td th:text="${book.price}"></td>
    </tr>
</table>
</body>
</html>